<div class="row">
    <div class="col-xs-12  col-sm-12  col-md-2  col-xl-2">
        <img src="../../../assets/FotoPerfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12  col-sm-12  col-md-4  col-xl-4">
        <p id="nombre">Castro Rafael</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12  col-sm-12  col-md-6  col-xl-6">
        <span>
            <h1>Acerca de mi.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore adipisci odio necessitatibus, esse incidunt cum quia commodi, voluptate cupiditate excepturi rem culpa recusandae et sint? Minima incidunt adipisci magni est?Accusantium, harum quasi numquam, aperiam optio distinctio amet assumenda adipisci officiis fuga reprehenderit natus quaerat dolorem sit molestiae? Illum aliquam laudantium magni ducimus et excepturi exercitationem at aliquid quis assumenda?</p>
        </span>
     </div>

</div>