<div class="row">
    <h1 id="Educacion">
      <u>Experiencia Laboral</u>
    </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul type="circle">
            <li><h2>Trabajo1</h2> - <h3>(Años)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sapiente provident maxime officiis saepe ipsam ab, amet accusamus dolore enim facere voluptate quis eaque doloribus excepturi veritatis qui perspiciatis eum!
            </p>
            <li><h2>Trabajo2</h2> - <h3>(Años)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sapiente provident maxime officiis saepe ipsam ab, amet accusamus dolore enim facere voluptate quis eaque doloribus excepturi veritatis qui perspiciatis eum!
            </p>
            <li><h2>Trabajo3</h2> - <h3>(Años)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sapiente provident maxime officiis saepe ipsam ab, amet accusamus dolore enim facere voluptate quis eaque doloribus excepturi veritatis qui perspiciatis eum!
            </p>
        </ul>
    </div>
</div>

